.footer__contacts-container {
  margin-right: 0;

  @media screen and (min-width: 1300px) {
    width: 262px;
  }

  @media screen and (min-width: 1440px) {
    margin-right: 150px;
  }
}

.footer__contacts-list {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @media screen and (min-width: 535px) {
    gap: 33px;
  }
}

.footer__contacts-item {
  display: flex;
  gap: 14px;
  align-items: first baseline;

  cursor: pointer;

  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (max-width: 535px) {
    justify-content: center;
  }

  &:hover,
  &:focus {
    color: $hover-color-two;
  }
}

.footer__contacts-link--locatoin {
  width: 233px;
}

.location-icon {
  margin-right: 5px;
  width: 11px;
  height: 16px;
}
