$font-light: 'Light', sans-serif;
$font-regular: 'Regular', sans-serif;
$font-medium: 'Medium', sans-serif;
$font-bold: 'Bold', sans-serif;
$color-one: #fbfbfb;
$color-two: #f3f3f3;
$color-three: #2c2c2c;
$color-four: #bdbdbd;
$color-five: #333;
$color-six: #f2f2f2;
$color-seven: #f9f9f9;
$color-eight: #e0e0e0;
$color-nine: #fff;
$color-ten: #c30000;
$color-eleven: #d8d8d8;
$hover-color: rgb(200, 200, 233);
$hover-color-two: rgb(92, 92, 222);
